.p-component , .p-component *:not(.pi) {
  font-family: 'IranSans', serif;
}

// table
.p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  color: var(--gray-8);
  padding: .5rem;

  hr {
    margin: .5rem;
  }

  p {
    font-size: var(--font-0-9)
  }
}

.p-datatable {
  .p-datatable-thead > tr > th {
    font-weight: 500;
    color: #ffffff;
    background: #309ba7;
  }

  .p-datatable-wrapper {
    font-family: 'IranSans', serif;
    font-size: .75rem;
  }

  .p-column-header-content {
    justify-content: center;
    font-size: .9rem;
    white-space: nowrap;
  }

  .p-datatable-striped .p-datatable-tbody > tr.p-row-odd {
    background: #ededed;
  }

  .p-datatable-tbody > tr.p-row-odd, tr.p-row-even {
    color: black;
  }
}

.p-datatable.p-datatable-gridlines .p-datatable-header {
  font-family: 'IranSans';
  background-color: white;
}

.oracle-sql-table{

  thead, tbody, tfoot, tr, td, th {
    border-color: white;
    border-style: solid;
    border-width:0.5px;
  }

}

// toast

.Toastify__toast-body, .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  font-family: IranSans;
}

// tabs

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link .p-menuitem-icon {
  margin-right: 0;
  margin-left: .5rem;
}

span.p-menuitem-text {
  font-size: .9rem;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  padding: 1rem;
  border-radius: .75rem;
}

ul.p-tabmenu-nav.p-reset {
  background-color: transparent;
  box-shadow: unset;
  border-radius: .75rem;
  border: unset;
  padding-left: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;

  a:hover {
    color: white;
    background-color: cadetblue;
    border-bottom: 0;
  }
}

a.p-menuitem-link {
  margin-top: 1rem;
  background-color: #045c78;
  color: white;
  font-weight: 100;
}

li.p-tabmenuitem.p-highlight {
  a {
    color: white;
    background-color: cadetblue;
    border-bottom: 0;
  }
}


.wage-tab{

  ul{
    li{
      width: 33%;
    }
  }

  a.p-menuitem-link {
    margin-top: 1rem;
    background-color: var(--gray-9);
    color: white;
    font-weight: 100;
    justify-content: center;
  }

  li.p-tabmenuitem.p-highlight a {
    color: white;
    background-color: var(--blue-2);
    border-bottom: 0;
  }

  a:hover {
    color: white;
    background-color: var(--blue-1);
    border-bottom: 0;

  }
}








// dialog

.p-confirm-popup {
  font-family: 'IranSans';
}

.p-confirm-popup .p-confirm-popup-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.p-confirm-popup .p-confirm-popup-footer button {
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-size: .9rem;
}

.p-dialog {
  font-family: 'IranSans', serif;
  border-radius: .75rem;

  .p-dialog-header {
    background: #87bcd1;
    color: #ffffff;
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    padding: 1rem;
  }

  .p-dialog-header .p-dialog-header-icon:enabled:hover {
    color: #fdfdfd;
    border-color: transparent;
    background: unset;
  }

  .p-dialog-header .p-dialog-title {
    font-weight: 500;
    font-size: 1rem;
  }

  .p-dialog-header .p-dialog-header-icon {
    color: white;
  }
}

.p-tabview-nav-content {
  display: flex;
  flex-direction: row-reverse;
}

.p-dialog-mask.p-component-overlay.p-component-overlay-enter {
  //z-index: 10000 !important;

  .p-dialog .p-dialog-content {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #949494;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #5cb7e8;
      border-radius: 35px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #5ce8dc;
    }
  }
}


// input
.p-inputtext {
  height: 2.5rem;
}

.vpd-input-group {
  label {
    margin: 0;
  }

  input {
    height: 2.5rem;
  }
}


//.p-dropdown-panel {
//  z-index: 10000 !important;
//}

// menu
.navbar-vertical.navbar-expand-xs {
  z-index: 1000;
}

// paging

.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
  transform: rotateY(180deg);
}


// input

span.p-multiselect-token-label {
  font-family: 'IranSans';
}

.p-dropdown .p-dropdown-clear-icon {
  color: #6b7280;
  right: unset;
  left: 3rem;
}

.p-inputtext {
  width: 100%;
}